.navbar {
  background: rgb(83, 176, 207);
  height: 15vh;
  padding: 20px 15px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin-top: 1.5em;
}

a.navLinks {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 2em;
}
